name: Deploy metrics dataproduct pipeline

on: push

permissions:
  contents: read
  id-token: write

jobs:
  build-and-push:
    name: Build and push GAR
    runs-on: ubuntu-20.04
    outputs:
      image: ${{ steps.docker-build-push.outputs.image }}
    steps:
      - uses: actions/checkout@v4
      - name: Push docker image to GAR
        uses: nais/docker-build-push@v0
        id: docker-build-push
        with:
          team: nada
          identity_provider: ${{ secrets.NAIS_WORKLOAD_IDENTITY_PROVIDER }}
          project_id: ${{ vars.NAIS_MANAGEMENT_PROJECT_ID }}

  deploy-dev:
    name: Deploy dev gcp
    runs-on: ubuntu-20.04
    needs: [build-and-push]
    steps:
      - uses: actions/checkout@v4
      - name: Deploy to dev-gcp
        uses: nais/deploy/actions/deploy@v2
        env:
          CLUSTER: dev-gcp
          RESOURCE: .nais/naisjob.yml
          VAR: image=${{ needs.build-and-push.outputs.image }}

  deploy-prod:
    name: Deploy prod gcp
    runs-on: ubuntu-20.04
    needs: [build-and-push, deploy-dev]
    steps:
      - uses: actions/checkout@v4
      - name: Deploy to prod-gcp
        if: github.ref == 'refs/heads/main'
        uses: nais/deploy/actions/deploy@v2
        env:
          CLUSTER: prod-gcp
          RESOURCE: .nais/naisjob.yml,.nais/alert.yml
          VAR: image=${{ needs.build-and-push.outputs.image }}
